﻿body {
    background-color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding-top:1%;
    padding-bottom:1%;
}

.coolHeader{
    background: #EEE url(../images/bg_head.jpg) no-repeat top center;
}
#mainContent {
    background-color: #fff;
    width: 90%;
    margin: 0px auto;
    border-radius: 25px;
    padding: 25px;
}
.registerTxts{
    min-height: 30px;
}
.albanileriaCheck{
    margin-top:17px;
}
.close{
    position:absolute;
    right:-10px; top:-10px; /* Will place the close image in the top right edge of the image */
    display:none;
    z-index:1;
}
.hermanos:hover .close{
    display:block;
}

.thumb {
    max-width: 40%;
    width:300px;
    height:100px;
}

#mainDetails {
    margin-left: 2%;
    margin-top: 1%;
    max-width: 75%;
    float:left;
    width: 70%;

}

.boxed{
    border: 1px solid black;
    float: left;
    padding: 5px;
}
.deleteButton{
    cursor:pointer;
}

.buttonText{
        margin-right: 5px;
}

.numeroCasa{
    width:35px;
}

.edades{
   border-style:solid;
    width:35px;

}

.fecha{
    width:100px;
    float:left;
}

.sector{
    width: 102px;
}

.nacionalidad{
        margin-left: 22px;
        width: 170px;
}


.formsTextUnderline input {
    background-color: transparent;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    border-radius: 0px;
    box-shadow: 0;
    min-height:30px;
}

.formsText input {
    background-color: transparent;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    border-radius: 0px;
    box-shadow: 0;
    max-width:70%;
    min-height:30px;
}

.formsText{
        float:left;
        
}



.formularioHeader {
    background: #66ff66 none repeat scroll 0 0;
    padding-left: 1%;
}

.formulario-elements {
    float: left;
    margin-right: 1px;
}

.formulario {
    padding-left: 3%;
    margin-top: 2%;
    float: left;
}

.formulario span1 {
        margin-left: 0px;
}

.loginbox {
    padding: 10px;
}

.alert-error, .validation-summary-errors {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

content {
    padding: 25px;
}

h1 {
    margin-left: 25px;
}

.field-validation-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

footer {
    background-color: white;
    font-family: Arial,Helvetica,sans-serif;
    padding: 10px;
    font-size: 9pt;
    text-align: left;
    clear: both;
    width: auto;
    text-align: center;
}

    footer span {
        display: inline-block;
        font-size: Smaller;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        padding: 5px;
    }

Slider {
    width: 900px;
    height: 335px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    border: solid 1px black;
}

.brands {
    border-top-style: none;
    height: 145px;
    padding-left: 0;
    padding-top: 5px;
}

.leftcontent {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

    .leftcontent h1 {
        color: #3C3C3C;
    }

    .leftcontent a:link {
        color: #666666;
        text-decoration: none;
    }

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #161515;
    white-space: nowrap;
}

.ui-menu-item:hover {
    background-color: #8F888A;
    border-radius: 25px;
}

ui-state-hover, ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #DEABBC;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
