﻿@model DrlManufacturingWebSite.Models.LoginModel

@{
    ViewBag.Title = "Iniciar Sesión";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuarios Registrados.</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { style = "min-height: 30px;" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { style = "min-height: 30px;" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>

        </ol>
        <div class="row">
            <div class="span4" >
                @Html.CheckBoxFor(m => m.RememberMe, new { style="float:left;"})
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
    


        </div>
        <input type="submit" value="Iniciar Sesión" class="btn btn-default" />
    </fieldset>
    <p>
       <h4> Si no tiene una cuenta creada, puede @Html.ActionLink("crear su perfil ", "Register").</h4>
    </p>
}
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
