﻿@using BotDetect.Web.UI.Mvc;
@model DrlManufacturingWebSite.Models.RegisterModel
@{
    ViewBag.Title = "Crear Perfil";
}
@{ MvcCaptcha sampleCaptcha = new MvcCaptcha("SampleCaptcha"); }

<hgroup class="title">
    <h2>Registrar nueva cuenta.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <fieldset>
        <legend>Información requerida </legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { onblur="verifyUserName(this);" , style="min-height: 30px;" })
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { style = "min-height: 30px;" })
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { style = "min-height: 30px;" })
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new {placeholder="usuario@ejemplo.com",  style = "min-height: 30px;" })
                @Html.ValidationMessageFor(m => m.Email, "Dirección de correos incorrecta", new { @class="registerTxts" })
            </li>
        </ol>
        @Html.Captcha(sampleCaptcha)
        @Html.TextBox("CaptchaCode")
        <input type="submit" value="Enviar" class="btn btn-default" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
