﻿@{
    ViewBag.Title = "ThankRegistration";
}

<h2>Gracias!</h2>


<legend>Cuenta creada</legend>
<h4>Su cuenta ha sido creada. Puede @Html.ActionLink("acceder", "Login") a ella a partir de ahora.</h4>