﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DRL Manufacturing S.A.</title>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/LocalCSS")
    @RenderSection("Scripts", required: false)

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/local")
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />

</head>
<body>

    <div id="content">
   
        <section id="mainContent">
            <div class="page-header hero-unit" style="background-image:url('../../Images/main_banner1 .gif'); color:white">
                <h3 style="opacity:0.7">DRL Manufacturing <small>S.A.</small></h3>
                
            </div>
            <header>
               

                <nav class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>

                            <div class="nav-collapse collapse">
                                @Html.ActionLink("Inicio", "index", "Home", null, new { @class = "brand" })
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Drl Manufacturing S.A.
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu ">
                                            <li>@Html.ActionLink("Visión", "index", "home")</li>
                                            <li>@Html.ActionLink("Misión", "index", "home")</li>
                                            <li>@Html.ActionLink("Valores", "index", "home")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Recursos Humanos
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Crear Perfil (Hoja de vida)", "EnviarPerfil", "RecursosHumanos")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown ">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Contacto
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-header">Drl Manufacturing</li>
                                            <li>@Html.ActionLink("Contacto", "Contacto")</li>

                                        </ul>
                                    </li>


                                    <li class="dropdown ">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            @{
                                                if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                                                {
                                                    
                                                    <text> Salir</text>
                                                }
                                                else
                                                {
                                                    <text> Iniciar Sesión</text>
                                                }
                                            }
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @{
                                                if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                                                {
                                                    <li>
                                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "loginbox" }))
                                                        {
                                                           @Html.AntiForgeryToken()
                                                            @System.Web.HttpContext.Current.User.Identity.Name;
                                                            <input type="submit" value="Salir" class="btn btn-danger" />
                                                        }
                                                </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <form class="form" style="padding:10px" id="formLogin" action="Account/Login" method="post">
                                                          
                                                             @Html.Partial("~/Views/Account/_navLoginForm.cshtml")

                                                        </form>
                                                    </li>
                                                }
                                            }


                                        </ul>
                                    </li>


                                </ul>

                            </div>
                        </div>
                    </div>
                </nav>
                <!--end nav -->
            </header>
            <section id="container">
                @RenderBody()

                <footer>
                    <span>© 2012 Este website, sus imágenes, diseños ,logos, marcas registradas y nombres registrados, son propiedad exclusiva de DRL Manufacturing, S.A. y está prohibida su utilización sin el consentimiento de DRL Manufacturing S.A. </span>
                    &nbsp;<img id="htmlLogo" src="/images/HTML5_Logo_32.png" alt="This form has been validated through the WC3&#39;s HTML 5 validator and found to be fully compliant with the standard" />
                </footer>
            </section>
        </section>
    </div>
</body>
</html>
