﻿@{
    ViewBag.Title = "Home Page";
}
@section Scripts{
    <style>
        .sliderimage {
            width: 100%;
            height: 480px;
        }

        .headline {
            color: white;
        }
    </style>
    <script>
        $(document).ready(function () {
         
        });
    </script>

}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/slider/slider1.jpg" class="sliderimage" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="headline">Welcome to DRL Manufacturing</h1>
                    <p class="lead">Our commitment as an organization is focused in the quality of the products we provide and in the service that we offer to our internal and external clients. Service which can only be achieved thanks to our personnel,hard working individuals committed to the overral customer satisfaction and our organization, displaying in their work, motivation, vocation and passion for our work.</p>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider/slider2.jpg" class="sliderimage" alt="banner1">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="headline">Mission.</h1>
                    <p class="lead">To be the top Jewerly manufacturer in the world.</p>

                </div>
            </div>
        </div>

        <div class="item">
            <img src="images/slider/slider3.jpg" class="sliderimage" alt="banner2">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="headline">Vision.</h1>
                    <p class="lead">
                        To supply our clients with topnotch quality products at better costs, satisfying their needs and the needs of their end customers, in a way in which our clients and the people of our organization
                        can reach their goals.
                    </p>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider/slider4.jpg" class="sliderimage" alt="banner2">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="headline">Values.</h1>
                    <p class="lead">Topnotch quality, leadership, people centric management, trust and transparency, innovation, renovation, service, integrity.</p>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider/slider5.jpg" class="sliderimage" alt="banner2">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="headline">Top jewerly manufacturer in the caribbean.</h1>
                    <p class="lead">
                        Due to the exemplary commitment of our workers, we're able to deliver products with upmost quality while improving costs.
                        This makes us the absolute best choice for our clients.
                    </p>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider/slider6.jpg" class="sliderimage" alt="banner2">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="headline">Innovation and renovation.</h1>
                    <p class="lead">Permanent Improvements to ensure upmost quality in an ever changing global market.</p>

                </div>
            </div>
        </div>


    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

<div class="hero-unit">
    <div class="row">
        <h2>Welcome to DRL Manufacturing</h2>
        <p>
            Our commitment as an organization is focused in the quality of the products we provide and in the service that we offer to our internal and external clients.
            Service which can only be achieved thanks to our personnel,hard working individuals committed to the overral customer satisfaction and our organization, displaying in their work, motivation, vocation and passion for our work.
        </p>
    </div>
    <div class="row">
        <a href="#">DRL Manufacturing</a><br />
        <a href="#">Tru kay</a><br />
    </div>
    <div class="row">
        <h2>Innovation and Renovation</h2>
        <p>
            Permanent Improvements to ensure upmost quality in an ever changing global market.<br />
        </p>
    </div>
</div>
