﻿@model IEnumerable<DrlManufacturingWebSite.Models.ExperienciaLaboralModel>

@{
    ViewBag.Title = "_ExperienciasLaborales";
}


@if (Model.Count() > 0)
{

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DedicacionEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TareasRealizadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CausaRetiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelEmpresa)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DedicacionEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TareasRealizadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sueldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hasta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CausaRetiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelEmpresa)
                </td>

            </tr>
        }

    </table>}
