﻿@model DrlManufacturingWebSite.Models.Idiomas

@{
    ViewBag.Title = "_idiomas";
}


@using (Html.BeginForm()) {
   
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Idiomas</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Idioma)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Idioma)
            @Html.ValidationMessageFor(model => model.Idioma)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dominio)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.Dominio, 1)Básico
            @Html.RadioButtonFor(model => model.Dominio, 2)Bueno
            @Html.RadioButtonFor(model => model.Dominio, 3)Muy Bueno
            @Html.RadioButtonFor(model => model.Dominio, 4)Dominio
            @Html.ValidationMessageFor(model => model.Dominio)
        </div>

        <p>
            <button type="submit" class="btn btn-default" value="AgregarIdioma" >Agregar</button>
        </p>
    </fieldset>
}


