﻿@model DrlManufacturingWebSite.Models.DeclaracionSaludModel
@{
    ViewBag.Title = "DeclaracionSalud";
}


@using (Html.BeginForm())
{
    <div class="row">
        <div class="formularioHeader">
         <h2> 2. Declaración de salud</h2>  
            @Html.ValidationSummary(false)
        </div>

        <div class="row formsText" id="mainDetails">
            <div class="row">
                <div class="span11">
                    <div class="row">
                        <div class="span3">
                            ¿Tiene algún tipo de padecimiento?
                        </div>
                        <div class="span2">
                            @Html.RadioButtonFor(m => m.IsPadecimientoSet, true) Sí
                            @Html.RadioButtonFor(m => m.IsPadecimientoSet, false) No
                        </div>
                        <div class="span1">
                            ¿Cual?
                        </div>
                        <div class="span4">
                            @Html.TextBoxFor(m => m.Padecimiento)
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            ¿Alergias?
                        </div>
                        <div class="span2">
                            @Html.RadioButtonFor(m => m.IsAllergySet, true) Sí
                            @Html.RadioButtonFor(m => m.IsAllergySet, false) No
                        </div>
                        <div class="span1">
                            ¿A que?
                        </div>
                        <div class="span4">
                            @Html.TextBoxFor(m => m.Allergy)
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
  
    <div class="row">
      
        <div class="formularioHeader">
            <h2> 3. Disponible para trabajar</h2>

        </div>
        <div class="row formsText">
            <div class="span2">
                <div class="span2">
                    Horas Extras:
                </div>
                <div class="span2">
                    @Html.RadioButtonFor(m=>m.IsAvailableForOvertime, true) Sí
                    @Html.RadioButtonFor(m => m.IsAvailableForOvertime, false) No
                </div>
            </div>
            <div class="span2">
                <div class="span2">
                    Fines de semana:
                </div>
                <div class="span2">
                    @Html.RadioButtonFor(m => m.IsAvailableForWeekEnds, true) Sí
                    @Html.RadioButtonFor(m => m.IsAvailableForWeekEnds, false) No
                </div>
            </div>
        
        </div>

    </div>
    <div class="row">
        <button type="submit" name="submit" value="Previo" class=" btn btn-success ">
            <span class="glyphicon glyphicon-chevron-left">1. Datos Personales</span>
        </button>
        <button type="submit" name="submit" value="Proximo" class=" btn btn-success ">
            <span class="glyphicon glyphicon-chevron-right">4. Grupo Familiar</span>
        </button>
    </div>
}