﻿@model DrlManufacturingWebSite.Models.DatosPersonalesModel

@{
    ViewBag.Title = "EnviarPerfil";
}



<h2>Enviar Perfil Laboral</h2>

@using (Html.BeginForm("EnviarPerfil", "RecursosHumanos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="formularioHeader">
        <h2>1. Datos Personales del solicitante.  (Todos los campos son obligatorios)</h2>
        @Html.ValidationSummary(false)
    </div>
    <div class="row formsTextUnderline">


     
        <div >
            <fieldset>

                <legend>Datos Personales</legend>

                <div class="span3">
                    <div class="editor-label">
                        Nombre:
                    </div>

                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Nombre)
                    </div>
                    <div class="editor-label">
                        Calle:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Calle)
                    </div>
                    <div class="editor-label">
                        Telefono:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Telefono)
                    </div>

                    <div class="editor-label">
                        Email:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Email)
                    </div>
                 
                    <div class="editor-label">
                        Sector:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Sector)
                    </div>
                    <div class="editor-label">
                        Localidad:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Localidad)
                    </div>
                    <div class="editor-label">
                        Nacionalidad:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Nacionalidad)
                    </div>
                </div>
                <div class="span3">

                    <div class="editor-label">
                        Apellidos:
                    </div>

                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Apellido)
                    </div>
                    <div class="editor-label">
                        No Casa:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.NumeroCasa)
                    </div>
                    <div class="editor-label">
                        Celular:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Celular)
                    </div>
                 
                    <div class="editor-label">
                        Fecha de Nac.
                    </div>
                    <div class="editor-field">
                        <input type="text" id="FechaNacimiento" name="FechaNacimiento" class="datepicker" style="width: 151px;" value="@Model.FechaNacimiento.ToShortDateString()" />
                             </div>
                    <div class="editor-label">
                        Tel Emergen:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.TelEmergencia)
                    </div>
                    <div class="editor-label">
                        Estado Civil:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.EstadoCivil)
                    </div>
                   
                </div>
                <div class="span3">
               
                    <div class="editor-label">
                        Nombre del contacto de emergencias:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.NombreContactoEmergencia)
                    </div>
                    <div class="editor-label">
                        Cedula:
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Cedula)
                    </div>
                  
                </div>
                <div class="span3">
                    <div class="span4">
                        <div class="editor-label">
                            <div id="list"><label>Foto:</label></div>
                        </div>
                        @if (Model.Foto != null)
                        {
                            <span id="pictures">
                                @{
                                var base64 = Convert.ToBase64String(Model.Foto);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                }
                                <img class="thumb" title="Foto" src="@imgSrc" /></span>
                        }
                        <div class="editor-field">

                            <br />
                            <input type="file" id="FotoString" class="filestyle" name="FotoString"  />
                       
                                  </div>
                    </div>
                    </div>
</fieldset>   
        </div>
   


        </div>
    <button type="submit" value="2. Declaración de salud" class=" btn btn-success ">
        <span class="glyphicon glyphicon-chevron-right">2. Declaración de salud</span>
    </button>

}

