﻿@model DrlManufacturingWebSite.Models.EstudiosRealizadosModel
@{
    ViewBag.Title = "EstudiosRealizados";
}

@using (@Html.BeginForm())
{
    <div class="row">
        <div class="formularioHeader">
            <h2> 5. Estudios Realizados</h2>
        
        </div>
        @Html.ValidationSummary(false)
        @Html.AntiForgeryToken()
    </div>
    <div class="row">
        <div class="span4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><div class="span2">Elija una opción:</div> </th>
                        <th>Sí</th>
                        <th>No</th>
                        <th>En Curso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="span2">Primarios Completos</div></td>
                        <td>@Html.RadioButtonFor(m => m.PrimariosCompletos, "Si")</td>
                        <td>

                            @Html.RadioButtonFor(m => m.PrimariosCompletos, "No")

                        </td>
                        <td>

                            @Html.RadioButtonFor(m => m.PrimariosCompletos, "En Curso")

                        </td>
                    </tr>
                    <tr>
                        <td><div class="span2">Secundarios Completos</div></td>
                        <td>@Html.RadioButtonFor(m => m.SecundariosCompletos, "Si")</td>
                        <td>

                            @Html.RadioButtonFor(m => m.SecundariosCompletos, "No")

                        </td>
                        <td>

                            @Html.RadioButtonFor(m => m.SecundariosCompletos, "En Curso")

                        </td>
                    </tr>
                    <tr>
                        <td><div class="span2">Universitarios Completos</div></td>
                        <td>@Html.RadioButtonFor(m => m.UniversitariosCompletos, "Si")</td>
                        <td>

                            @Html.RadioButtonFor(m => m.UniversitariosCompletos, "No")

                        </td>
                        <td>

                            @Html.RadioButtonFor(m => m.UniversitariosCompletos, "En Curso")

                        </td>
                    </tr>
                    <tr>
                        <td><div class="span2">Diplomado Completo</div></td>
                        <td>@Html.RadioButtonFor(m => m.DiplomadoCompleto, "Si")</td>
                        <td>

                            @Html.RadioButtonFor(m => m.DiplomadoCompleto, "No")

                        </td>
                        <td>

                            @Html.RadioButtonFor(m => m.DiplomadoCompleto, "En Curso")

                        </td>
                    </tr>
                    <tr>
                        <td><div class="span2">Postgrado Completo</div></td>
                        <td>@Html.RadioButtonFor(m => m.PostgradoCompleto, "Si")</td>
                        <td>

                            @Html.RadioButtonFor(m => m.PostgradoCompleto, "No")

                        </td>
                        <td>

                            @Html.RadioButtonFor(m => m.PostgradoCompleto, "En Curso")

                        </td>
                    </tr>
                    <tr>
                        <td><div class="span2">Maestría Completo</div></td>
                        <td>@Html.RadioButtonFor(m => m.MaestriaCompleto, "Si")</td>
                        <td>

                            @Html.RadioButtonFor(m => m.MaestriaCompleto, "No")

                        </td>
                        <td>

                            @Html.RadioButtonFor(m => m.MaestriaCompleto, "En Curso")

                        </td>
                    </tr>
                    <tr>
                        <td><div class="span2">Computación Completo</div></td>
                        <td>@Html.RadioButtonFor(m => m.ComputacionCompleto, "Si")</td>
                        <td>

                            @Html.RadioButtonFor(m => m.ComputacionCompleto, "No")

                        </td>
                        <td>

                            @Html.RadioButtonFor(m => m.ComputacionCompleto, "En Curso")

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span4 formsTextUnderline">
         
                <fieldset>
                    <legend> Esta estudiando actualmente: (Este campo es obligatorio)</legend>

                    <div class="editor-field" style="float: left;margin-right: 5px;">
                        @Html.RadioButtonFor(m => m.EstudiaActualmente, true)Sí
                    </div>
                    <div class="editor-field">
                        @Html.RadioButtonFor(m => m.EstudiaActualmente, false)No
                    </div>


                    <div class="editor-label">Dia:</div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Dia, new { style = "max-width:100%" })
                    </div>


                    <div class="editor-label">
                        Hora:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(m => m.Hora, new { style = "max-width:100%" })
                    </div>
                </fieldset>
            <fieldset>
                <legend>  Titulos Obtenidos:</legend>

                <div class="editor-field">
                    <input type="text" id="TitulosObtenidos" name="TitulosObtenidos" />
                    <button type="submit" class="btn btn-default" value="AgregarTitulo">Agregar</button>

                </div>
                <div class="boxed">

                    <div class="span3">
                        <ol>
                            @if (Model != null)
                            {
                                foreach (string her in Model.TitulosObtenidos)
                                {
                                    <li class="hermanos" style="float:left">
                                        <div class="span3">
                                            <input type="hidden" name="TitulosObtenidos" value="@her"><div class="span2" style="float:left">@her</div>
                                            <span class="glyphicon glyphicon-remove-circle deleteButton" style="margin-left:5px"></span>
                                        </div>
                                    </li>
                                }
                            }
                        </ol>



                    </div>
                </div>
            </fieldset>
         

        </div><!--end formsText-->
        <div class="span4 formsTextUnderline">
      

            @Html.Partial("_idiomas",new DrlManufacturingWebSite.Models.Idiomas())
            <fieldset>
                <legend>Programas</legend>
                @Html.TextBoxFor(m => m.Programas)
                <button type="submit" class="btn btn-default" value="AgregarPrograma">Agregar</button>
                <div class="boxed">

                    <div class="span3">
                        <ol>
                            @if (Model != null)
                            {
                                foreach (string her in Model.Programas)
                                {
                                    <li class="hermanos" style="float:left">
                                        <div class="span3">
                                            <input type="hidden" name="Programas" value="@her"><div class="span2">@her</div>
                                            <span class="glyphicon glyphicon-remove-circle deleteButton" style="margin-left:5px"></span>
                                        </div>
                                    </li>
                                }
                            }
                        </ol>



                    </div>
                </div>
            </fieldset>
        </div>



    </div>
    <div class="row" style="margin-top:2%">
        <button type="submit" name="submit" value="Previo" class=" btn btn-success ">
            <span class="glyphicon glyphicon-chevron-left">4. Grupo Familiar</span>
        </button>
        <button type="submit" name="submit" value="Proximo" class=" btn btn-success ">
            <span class="glyphicon glyphicon-chevron-right">6. Personal Industríal </span>
        </button>
    </div>
}
