﻿@model DrlManufacturingWebSite.Models.ExperienciaLaboralModel

@{
    ViewBag.Title = "ExperienciaLaboral";
}

<div class="formularioHeader">
    <h2> 7. Experiencia Laboral</h2>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row formsTextUnderline">
        <fieldset>
            <legend>Experiencia Laboral</legend>

            <div class="span3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Empresa)
                </div>
                <div class="editor-field">
                    <input type="text" id="Empresa" name="Empresa" />
                   @Html.ValidationMessageFor(model => model.Empresa)</div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.DedicacionEmpresa)
                </div>
                <div class="editor-field">
                    <input type="text" id="DedicacionEmpresa" name="DedicacionEmpresa" />
                    @Html.ValidationMessageFor(model => model.DedicacionEmpresa)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TelEmpresa)
                </div>
                <div class="editor-field">
                    <input type="text" id="TelEmpresa" name="TelEmpresa" />
                    @Html.ValidationMessageFor(model => model.TelEmpresa)
                </div>
           
            </div>
            <div class="span3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Sueldo)
                </div>
                <div class="editor-field">
                    <input type="text" id="Sueldo" name="Sueldo" />
                    @Html.ValidationMessageFor(model => model.Sueldo)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Desde)
                </div>
                <div class="editor-field">
                    <input type="text" id="Desde" name="Desde" style="max-width: 188px;float: left" class="datepicker" />
                    @Html.ValidationMessageFor(model => model.Desde)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.hasta)
                </div>
                <div class="editor-field">
                    <input type="text" id="hasta" name="hasta" style="max-width: 188px;float: left"  class="datepicker" />
                    @Html.ValidationMessageFor(model => model.hasta)
                </div>
            </div>
            <div class="span5">
                <div class="editor-label">
                    @Html.LabelFor(model => model.CausaRetiro)
                </div>
                <div class="editor-field">
                    <input type="text" id="CausaRetiro" name="CausaRetiro" />
                    @Html.ValidationMessageFor(model => model.CausaRetiro)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TareasRealizadas)
                </div>
                <div class="editor-field">
                    <input type="text" id="TareasRealizadas" name="TareasRealizadas" style="max-width:100%" />
                    @Html.ValidationMessageFor(model => model.TareasRealizadas)
                </div>
                <p>
                    <button type="submit" class="btn btn-default" value="Agregar">Agregar</button>
                </p>
            </div>
           
        </fieldset>
    </div>
    
    <div class="row" style="margin-top:20px">
       @Html.Partial("_ExperienciasLaborales", (List<DrlManufacturingWebSite.Models.ExperienciaLaboralModel>)@ViewBag.Experiencias)
    </div>
}

