﻿@model  DrlManufacturingWebSite.Models.GrupoFamiliarModel
@{
    ViewBag.Title = "4 Grupo Familiar";
}


@using (Html.BeginForm())
{
    <div class="formularioHeader">
        <h2> 4. Grupo Familiar</h2>
        @Html.ValidationSummary(false)
    </div>
    <div class="formsTextUnderline">
        <fieldset>
            <legend>Grupo Familiar</legend>
            <div class="span3">
                <div class="editor-label">
                    Vive con:
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.ViveCon)
                </div>
           

                <div class="editor-label">
                    Nombre del conyugue:
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Conyugue)
                </div>
                <div class="editor-label">
                    Actividad del conyugue:
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.ActividadConyugue)
                </div>
                <div class="editor-label">
                    Nombre padre:
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.NombrePadre)
                </div>
            </div>
            <div class="span3">
                <div class="editor-label">
                    Total Personas a cargo:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.TotalPersonasACargo)
                </div>
             
                <div class="editor-label">
                    Hijos a Cargo:
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.HijosACargo)
                </div>
                <div class="editor-label">
                    Edades:
                </div>

                <div id="childrenAges">
                    @if (Model != null && Model.EdadesHijos != null)
                    {
                        for (int i = 0; i < Model.EdadesHijos.Count; i++)
                        {
                            <input type='text' name='EdadesHijos' value="@Model.EdadesHijos[i]" class='edades' style='border-style:solid;border-width: 1px;' />
                        }
                    }

                </div>
                <div class="editor-label">
                    Nombre Madre:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.NombreMadre)
                </div>
          
               


            </div>
            <div class="span3">
                <div class="editor-label">
                    Nombres Hermanos:
                </div>
                <div class="editor-field">
                    <input type="text" id="Hermanos" name="Hermanos" />
                    <button type="submit" value="Agregar" name="submit" class="btn btn-default">Agregar</button>
                </div>
                <div class="editor-label">
                    Hermanos:
                </div>
                <div class="editor-field">
                    <div id="ListaHermanos">
                        <hr />
                        <div>
                            @{

                                <ol>
                                    @if (Model != null)
                                    {
                                        foreach (string her in Model.Hermanos)
                                        {
                                            <li class="hermanos">
                                                <div class="span3">
                                                    <input type="hidden" name="hermanos" value="@her">@her
                                                    <span class="glyphicon glyphicon-remove-circle deleteButton" style="margin-left:5px"></span>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ol>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </fieldset>
    </div>


    <div class="row">
        <button type="submit" name="submit" value="Previo" class=" btn btn-success ">
            <span class="glyphicon glyphicon-chevron-left">3. Disponible para trabajar</span>
        </button>
        <button type="submit" name="submit" value="Proximo" class=" btn btn-success ">
            <span class="glyphicon glyphicon-chevron-right">5. Estudios realizados</span>
        </button>
    </div>

}