﻿@model DrlManufacturingWebSite.Models.PersonalIndustrial

@{
    ViewBag.Title = "PersonalIndustrial";
}

<h2>Solo para personal industríal</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <fieldset>
            <legend>Maque con una X</legend>
            <div class="span3">


                <div class="editor-label">
                   <div class="span2">Joyero:</div> @Html.EditorFor(m => m.Joyero)
                </div>
     
                <div class="editor-label">
                    <div class="span2">
                        Pulidor:</div>
                    @Html.EditorFor(m => m.Pulidos)
                    </div>
     
                <div class="editor-label">
                  <div class="span2"> Grabador:</div> 
                    @Html.EditorFor(m => m.Grabador)
                </div>
            
                <div class="editor-label">
                   <div class="span2">Montador:</div> 
                    @Html.EditorFor(m => m.Montador)
                </div>
           
                <div class="editor-label">
                   <div class="span2">Banglero:</div> 
                    @Html.EditorFor(m => m.Banglero)
                </div>
      
            </div>
            <div class="span3">
                <div class="editor-label">
                  <div class="span2"> Tornero:</div> 
                    @Html.EditorFor(m => m.Tornero)
                </div>
           
                <div class="editor-label">
                    <div class="span2">
                        Fresador:
                       
                    </div>  
                    @Html.EditorFor(m => m.Fresador)
                </div>
         
                <div class="editor-label">
                  <div class="span2">
                      Elec. Industrial:
                     
                    </div>  
                    @Html.EditorFor(m => m.ElectronicaIndustrial)
                </div>
    
                <div class="editor-label">
                   <div class="span2">
                       Refrigeración:
                    </div>
                    @Html.EditorFor(m => m.Refrigerador)
                </div>
            
                <div class="editor-label">
                    <div class="span2"> Mecanica:</div>
                    @Html.EditorFor(m => m.Mecanica)
                </div>
      
            </div>
            <div class="span3">
                <div class="editor-label">
                  <div class="span2">
                      Refrigeración:
                    </div>  
                    @Html.EditorFor(m => m.Refrigerador)
                </div>
            
                <div class="editor-label">
                 <div class="span2">
                     Soldador con acetileno:
                    </div>
                    @Html.EditorFor(m => m.SoldadorAceteleno)
                </div>
     
                <div class="editor-label">
                  <div class="span2">
                      Albañileria:
                    </div>  
                    <div class="albanileriaCheck">
                        @Html.EditorFor(m => m.Abanileria)
                    </div>
                   
                </div>
      
                <div class="editor-label">
                  <div class="span2">
                      Electronica:
                    </div> 
                    @Html.EditorFor(m => m.Electronica)
                </div>
          
                <div class="editor-label">
                  <div class="span2">
                      Otros:
                    </div>  
                    @Html.EditorFor(m => m.Otros)
                </div>
                
            </div>
        </fieldset>
    </div>


    <div class="row" style="margin-top:2%">
        <button type="submit" name="submit" value="Previo" class=" btn btn-success ">
            <span class="glyphicon glyphicon-chevron-left">5. Estudios Realizados</span>
        </button>
        <button type="submit" name="submit" value="Proximo" class=" btn btn-success ">
            <span class="glyphicon glyphicon-chevron-right">7. Experiencia Laboral </span>
        </button>
    </div>
}